<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1>Info</h1>
    <p class="lead">Press the button and enter password to see the results.</p>
    <hr>
    <a class="btn btn-dark btn-lg" href="/api" role="button">Button</a>
  </div>
</div>

<%- include('partials/footer') %>
